# Requisitos do YOLOv5
# Uso: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.2.2
numpy==1.23.4
opencv-python
opencv-python-headless==4.6.0.66
Pillow==9.3.0
PyYAML>=5.3.1
requests==2.28.1
scipy>=1.4.1  # Google Colab version
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0
protobuf<4.21.5  # https://github.com/ultralytics/yolov5/issues/8012

# Plotagem ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Extras --------------------------------------
ipython  # Caderno interativo
psutil  # Utilização do sistema
thop  # Computação de FLOPs
streamlit==1.29.0
streamlit-webrtc
wget

# Outras bibliotecas específicas da sua aplicação ------------------------------
aioice==0.7.6
aiortc==1.3.2
av==9.2.0
click==8.1.3
pyee==9.0.4
requests-toolbelt==0.10.1
tornado==6.2
ultralytics
