# YOLOv5 requirements
# Usage: pip install -r requirements.txt

# Base ----------------------------------------
opencv-python
ultralytics
matplotlib
numpy
opencv-python-headless
Pillow
PyYAML
requests
scipy  # Google Colab version
torch
torchvision
tqdm>=4.41.0
protobuf<4.21.5  # https://github.com/ultralytics/yolov5/issues/8012


# Plotting ------------------------------------
pandas
seaborn


# Extras --------------------------------------
ipython  # interactive notebook
psutil  # system utilization
thop  # FLOPs computation
streamlit
wget
